@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #3B7597;
}

button {
    background: linear-gradient(135deg, #4f46e5, #7c3aed);
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

button:active {
    transform: scale(0.97);
}

div{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

p {
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding: 14px 20px;
    border-radius: 12px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

p b {
    color: #000000;
    font-size: 16px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #ddd;
    border-top: 6px solid #7c3aed;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 100px auto;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}